<!doctype html>
<html lang="en">

{% include 'header.html' %}

<body>
  <script src="{{url_for('static', filename='dist/js/demo-theme.min.js')}}"></script>
  <div class="page">

    {% include 'navbar.html' %}
    <div class="page-wrapper">
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <h2 class="page-title">
                Google Hash Code
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-cards" id="cards-container">
          </div>
        </div>
      </div>
    </div>

    <script src="{{url_for('static', filename='dist/js/tabler.min.js')}}" defer></script>
    <script src="{{url_for('static', filename='dist/js/demo.min.js')}}" defer></script>

    <script src="{{url_for('static', filename='custom-js/logout.js')}}" defer></script>
    <script src="{{url_for('static', filename='custom-js/fetch-computers.js')}}" defer></script>
</body>

<script>
  const data = [
    { year: 2014, attempted: "2/10", solved: "2/10", progress: 90 },
    { year: 2015, attempted: "2/10", solved: "2/10", progress: 90 },
    { year: 2016, attempted: "2/10", solved: "2/10", progress: 90 },
    { year: 2017, attempted: "2/10", solved: "2/10", progress: 90 },
    { year: 2018, attempted: "2/10", solved: "2/10", progress: 90 },
    { year: 2019, attempted: "2/10", solved: "2/10", progress: 90 },
    { year: 2020, attempted: "2/10", solved: "2/10", progress: 90 },
    { year: 2021, attempted: "2/10", solved: "2/10", progress: 90 },
    { year: 2022, attempted: "2/10", solved: "2/10", progress: 90 },
  ];

  const container = document.getElementById("cards-container");

  data.forEach(({ year, attempted, solved, progress }) => {
    container.innerHTML += `
      <div class="col-md-6 col-lg-3">
        <a href="/google/hashcode/${year}" class="card card-link text-decoration-none">
          <div class="card-body">
            <h3 class="card-title">${year}</h3>
            <p class="text-secondary">Attempted: ${attempted}</p>
            <p class="text-secondary">Solved: ${solved}</p>
          </div>
          <div class="progress progress-sm card-progress">
            <div class="progress-bar" style="width: ${progress}%" role="progressbar"
              aria-valuenow="${progress}" aria-valuemin="0" aria-valuemax="100"
              aria-label="${progress}% Complete">
              <span class="visually-hidden">${progress}% Complete</span>
            </div>
          </div>
        </a>
      </div>
    `;
  });
</script>

</html>